<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirigir index.html a la raíz /
  RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
  RewriteRule ^index\.html$ / [R=301,L]
</IfModule>
